.is-hidden {
    display: none;
}
.mlsCup {
    position: absolute;
    top: 0;
    width: 100%;
    height: 51.5vw;
    // border: 1px solid red;
    overflow: hidden;
}
.overlay {
    position: absolute;
    bottom:0;
    left: 0;
    transform: translateY(+150%);
    width: 100%;
    height: 80%;
    background-image: linear-gradient(
        to bottom,
        #00000000 ,
        #00000080 
    );

    animation-name: overlay;
    animation-duration: 2000ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 500ms;

@keyframes overlay {
    0%{
      transform: translateY(+150%);
    }
    100%{
      transform: translateY(+0%);
    }
  }
}
.cupHoist {
    position: absolute;
    bottom: 0;
    left: 53%;
    transform: translate(-50%,0);
    width: 29vw;
}
.confetti{
    position: absolute;
    bottom: -15%;
    left: 53%;
    transform: translate(-50%,+150%);
    width: 107vw;

    animation-name: confetti;
    animation-duration: 3500ms;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-delay: 1800ms;

@keyframes confetti {
    0%{
      transform: translate(-50%,+150%);
    }
    60%{
      transform: translate(-50%,-5%);
    }
    100%{
        transform: translate(-50%,+5%);
      }
  }
}
.leftDoor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translate(-100%,0);
    background-image: linear-gradient(
        to right,
        #00000033 ,
        #00000000 
    );

    animation-name: leftdoor;
    animation-duration: 10500ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 3000ms;
    
@keyframes leftdoor {
    0%{
      transform: translate(-100%,0);
    }
    15%{
        transform: translate(0,0);
    }
    85%{
        transform: translate(0,0);
    }
    100%{
      transform: translate(-100%,0);
    }
  }
}
.leftDoor__pic {
width: 100%;
}
.leftDoor__emblem {
    position: absolute;
    top: 29%;
    left: 9%;
    width: 19vw;
    transform: scale(2.5);
    opacity: 0;
    animation-name: emblem;
    animation-duration: 1000ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 8000ms;

    @keyframes emblem {
        0%{
            transform: scale(2.5);
            opacity: 0;
        }
        100%{
            transform: scale(1);
            opacity: 1;
        }
    }
}
.rightDoor {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    transform: translate(+100%,0);
    background-image: linear-gradient(
        to left,
        #00000033 ,
        #00000000 
    );

    animation-name: rightdoor;
    animation-duration: 10500ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 3000ms;

@keyframes rightdoor {
    0%{
      transform: translate(+100%,0);
    }
    15%{
        transform: translate(0,0);
    }
    85%{
        transform: translate(0,0);
    }
    100%{
      transform: translate(+100%,0);
    }
  }
}

.rightDoor__pic {
    width: 100%;
    }
.rightDoor__emblem {
    position: absolute;
    top: 29%;
    right: 9%;
    transform: translate(0,+50%);
    width: 20vw;
    transform: scale(1);
    opacity: 0;
    animation-name: emblem;
    animation-duration: 1000ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 8000ms;
}
.sloganList{
    position: absolute;
    bottom: 45.5%;
    left: 47.5%;
    transform: translate(-50%,+50%);
    list-style: none;
    .sloganList__item {
        color: $main-color;
        font-family: $main-font;
        text-transform: uppercase;
        text-align: center;
        text-shadow: 7px 7px 30.4px rgba(0, 0, 0, 1);

    }
    .sloganList__item:first-child {
        font-size: 14vw;
        line-height: 0.7;
        transform: translate(0,-300%);
        animation-name: sloganOne;
        animation-duration: 6000ms;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        animation-delay: 5000ms;

    @keyframes sloganOne {
        0%{
        transform: translate(0,-300%);
        }
        20%{
            transform: translate(0,0);
        }
        90%{
            transform: translate(0,0);
        }
        100%{
        transform: translate(0,-300%);
        }
    }
    }
    .sloganList__item:nth-child(2) {
        font-size: 10.5vw;
        line-height: 0.8;
        transform: translate(0,+400%);
        animation-name: sloganTwo;
        animation-duration: 5500ms;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        animation-delay: 6000ms;

    @keyframes sloganTwo {
        0%{
        transform: translate(0,+400%);
        }
        20%{
            transform: translate(0,0);
        }
        85%{
            transform: translate(0,0);
        }
        100%{
        transform: translate(0,-400%);
        }
    }
    }
    .sloganList__item:last-child {
        font-size: 6vw;
        transform: translate(0,+400%);

        animation-name: sloganThre;
        animation-duration: 5000ms;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        animation-delay: 7000ms;

    @keyframes sloganThre {
        0%{
        transform: translate(0,+400%);
        }
        20%{
            transform: translate(0,0);
        }
        80%{
            transform: translate(0,0);
        }
        100%{
        transform: translate(0,-600%);
        }
    }
    }
    
}
.banner {
    opacity: 0;
    animation-name: banner;
    animation-duration: 100ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 7000ms;
    
    @keyframes banner {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
}

.banner__pic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.bannerInfo{
    position: absolute;
    top: 2%;
    left: 1.5%;
}

.bannerInfo__teams { 
    margin-bottom: 2vw;
    p {
    background-color: $main-color;
    width: fit-content;
    margin-bottom: 0.5vw;
    padding-top: 0.5vw;
    padding-left: 0.4vw;
    padding-right: 2.5vw;
    font-family: $main-font;
    font-size: 3.5vw;
    line-height: 0.8;
    text-transform: uppercase;
    text-align: initial;
    vertical-align: middle;
}
}

.bannerInfo__dateInfo {
    display: flex;
    margin-bottom: 1.5vw;
    p {
    color: $main-color;
    font-family: $main-font;
    font-size: 2vw;
    
    }
    & .bannerInfo__date {
        font-family: $additional-font;
    }
    & .bannerInfo__dateStrip {
        height: 1.5vw;
        margin-left: 1vw;
        margin-right: 1vw;
    }
    & .bannerInfo__time {
        text-transform: uppercase;
    }
}
.bannerInfo__liveOn {
    width: 26vw;
}
.banner__emblem {
    position: absolute;
    bottom: 1.5%;
    left: 1.5%;
    width: 22vw;
    }
.hotSpotButton {
    position: absolute;
    top: 12%;
    right: 13%;
    background: none;
    border: none;

    &__picture{
        margin-bottom: 0.8vw;
        width: 5vw;
    }

    &__caption {
        color: $main-color;
        font-family: $main-font;
        font-size: 1.7vw;
        line-height: 0.8;
        text-transform: uppercase;
        text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.75);
    }
}

.videoBackdrop {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #00000080;
    
}
.videoBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.video {
    width: 60vw;
    height: auto;
    max-height: 100%;
}

.videoPlayButton {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(+50%,-50%);
    background: none;
    border: none;
    &__picture{
        width: 8vw;
    }
}
.videoCloseButton {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(+50%,-50%);
    background: none;
    border: none;
    &__picture{
        width: 6vw;
    }
}
.mlsCupCloseButton {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    &__picture{
        width: 2.8vw;
    }
}
